*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ffffff;
    padding-left: 1rem;
    height: 3.7em;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: disclosure-open;
}

h2{
    font-size: 1.3rem;
}


.font-logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.block-inline{
    display: inline;
}

.logo-scritta{
    vertical-align: middle;
}

.contenitore-padre{
    background-color: #f6f8f9;
    padding: 2rem 5rem;

}

.stile-bottone{
    border-radius: 8%;
    padding: .2rem .5rem;
    text-align: center;
    font-size: .5rem;
}

.bottone-blu{
    background-color: #47adf1;
    color: #ffffff;
    border-color: #47adf1;
}

.bottone-bianco{
    color: #e1e4e6;
    background-color: #ffffff;
    
}

.contenitore-figlio{
    background-color: #ffffff;
}

.sezione-bottoni{
    border-bottom: solid 2px #f6f8f9;
    padding: .6rem 2.5rem;
}

.li-padre{
    margin-left: 3.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.li-figlio{
    padding-top: .4rem;
}

.li-figlio-fatto{
    list-style-type: none;
}

.li-figlio-non-fatto{
list-style-type: none;
}

.span-inlineblock{
    display: inline-block;
}

.circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-color: #bbe5dc;
}

.check-marker{
    color: #60bea6;
    font-weight: 400;

}

.cross-marker{
color: red;
}

.tipo-legenda{
    padding: .3rem .6rem;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.inline{
    display: inline-block;
}

.blu{
    background-color: #45abea;
}

.verde{
    background-color: #63bfa8;
}

.viola{
    background-color: #9c72e4;
}

.fucsia{
    background-color: #d863a1;
}

.arancione{
    background-color: #f29e33;
}



